body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 202, 2);
}

#status-bar {
   font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #8cf882;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}    


.status-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #444;
}

.status-item img {
  width: 18px;
  height: 18px;
  filter: grayscale(50%) brightness(80%);
}


.title {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  background: linear-gradient(135deg, #0280fd, #f8f402);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.puzzle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#puzzle {
  width: 300px;
  height: 300px;
  position: relative;
  border: 2px solid #333;
}


.tile.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  background: #f0f0f0;
  border: 1px solid #333;
  cursor: pointer;
}

.tile {
  position: absolute; 
  width: 100px;       
  height: 100px;      
  box-sizing: border-box; 
  border: 1px solid #333; 
  background-size: 300px 300px;
  cursor: pointer;
  transition: 0.3s;
}

.tile.empty {
  background: rgb(162, 158, 158);
}

.win-message {
  margin-top: 20px;
  font-size: 24px;
  color: green;
}

#toggleModeBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;      /* Green background */
  color: white;                   /* White text */
  border: none;
  border-radius: 5px;             /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 10px;
}

#toggleModeBtn:hover {
  background-color: #45a049;    
}

#uploadBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;    
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;  
  transition: background-color 0.3s ease;
}

#uploadBtn:hover {
  background-color: #0056b3;   
}

#solve-btn {
  background-color: #ff0d00;    
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#solve-btn:hover {
  background-color: #e60000;    
}

#solve-bfs-btn {
  background-color: #001aff;    
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#solve-bfs-btn:hover {
  background-color: #3372fb;    
}

#shuffleBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF9800; /* Orange */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#shuffleBtn:hover {
  background-color: #e68900;
}


.timer {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  background: linear-gradient(135deg, #02fd3d, #d702f8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
